@import "~bootstrap/dist/css/bootstrap.css";
body {
    background-image: url(./assets/images/quotess.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container-fluid {
    float: right;
}