<div class="container-fluid">
    <h2 class="text-center">Add a new Quote</h2>
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">

            <label for="quote">Quote</label>
            <textarea class="form-control" id="name" [(ngModel)]="newQuote.quote" rows="3" placeholder="Quote" name="name" #name="ngModel" required></textarea>

        </div>
        <div class="form-group">

            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" placeholder="Author" name="author" #author="ngModel" required>

        </div>
        <div class="form-group">
            <label for="author">Your Name</label>
            <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.poster" placeholder="" name="person" #person=ngModel required>

        </div>
        <div class="form-group">

            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" [(ngModel)]="newQuote.completeDate" name="date" #date="ngModel" required>

        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
</div>